p,
blockquote,
ul,
ol,
dl,
table,
pre {
  text-align: justify;
}

.markdown-section code, .markdown-section pre {
  line-height: 0.9;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
