p,
blockquote,
ul,
ol,
dl,
table,
pre {
  text-align: justify;
}

.endnote {
  text-align: center
}

h1,h2,h3,h4 {
  font-family: Arial !important;
}

.markdown-section code, .markdown-section pre {
  line-height: 0.9;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.markdown-section h1, h1
{
    margin-bottom: 0px;
    margin-left: 25px;
}

.page {
    padding: 0;
}
