basic_usage_01.png "
	> w hello world         ; строки
	> wx 90 90 90 90        ; шеснадцатеричные пары
	> wa jmp 0x8048140      ; ассемблироавние
	> wf inline.bin         ; заменить на содержимое файла
"

// open malloc://1024
basic_usage_02.png ("
	w hello world
	ps
")
