basic_usage_01.png "
	> w hello world         ; string
	> wx 90 90 90 90        ; hexpairs
	> wa jmp 0x8048140      ; assemble
	> wf inline.bin         ; write contents of file
"

// open malloc://1024
basic_usage_02.png ("
	w hello world
	ps
")
