name: Create documents with make

on:
  push:
    branches:

jobs:
  make_all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          sudo apt install pandoc texlive texlive-latex-extra
          make
      - uses: actions/upload-artifact@master
        with:
          path: r2book.*
          name: r2book.zip
